.page_post {
    width: 500px;
    border-radius: 20px;
    padding: 25px;
    margin: 25px;
    font-family: OpenSans;
    background-color: #f3efee;
    color: black;
}

.page_area_col {
    display: flex;
    flex-direction: row;
}