.page_post {
    width: 500px;
    border-radius: 20px;
    padding: 25px;
    margin: 25px;
    border-style: solid;
    border-color: rgb(95, 95, 95);
    font-family: OpenSans;
    background-color: transparent;
}

.page_area_col {
    display: flex;
    flex-direction: row;
}