/*header*/
.header {
  display: flex;
  padding: 15px;
}

.icon {
  cursor: pointer;
}

.icon:hover {
  opacity: 0.5;
}

.page_post {
  width: 550px;
  padding: 30px;
  margin: 10px;
  border-width: 0.5px;
  color: black;
}

.page_area_col {
  display: flex;
  flex-direction: row;
}

.newsl {
  width: 500px;
  margin: auto;
  border-radius: 25px;
  border-width: 0.5px;
  border-color: rgb(71, 71, 71);
  border-style: solid;
  background-color: #f3efee;
  padding: 20px;
}

/*controls*/
@media only screen and (max-width: 540px) {
  .newsl {
    width: 100%;
  }
}

@media only screen and (max-width: 900px) {
  .header {
    flex-direction: column;
    text-align: center;
  }
}

@media only screen and (max-width: 1180px) {
  .page_area_col {
    flex-direction: column;
  }
}
